@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

* {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

/* header */
header{
    box-sizing: border-box;
    background-color: #24252a;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3%;
}
.logo{
    max-height: 50px;
    width: auto;
}
.navLinks{
    list-style: none;
}
.navLinks li{
    display: inline-block;
    padding: 0px 20px;
}
.navLinks li a{
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.navLinks li a:hover{
    color: #0088a9;
}

/* image under header */
.container{
    position: relative;
    text-align: left;
}
.leftText{
    position: absolute;
    top: 20%;
    left: 100px;
    font-size: 50px;
    font-family: 'Mochiy Pop P One', sans-serif;
}
.leftButton button{
    position: absolute;
    top: 60%;
    left: 300px;
    height: 50px;
    width: 150px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.leftButton button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}
.rightButton button{
    position: absolute;
    top: 60%;
    left: 100px;
    height: 50px;
    width: 150px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: black;
}
.rightButton button:hover{
    background-color: rgba(0, 136, 169, 0.8);
    color: white;
}

/* section 1 */
.services{
    margin: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicesTitle{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Mochiy Pop P One', sans-serif;
}
.servicesText{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 60px;
}
.servicesContainer{
    display: flex;
}
.servicesContainerItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 0px 100px;
    padding: 80px 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.servicesContainerItemImg{
    width: auto;
    height: 100px;
}
.servicesContainerItemTitle{
    font-size: 18px;
    font-weight: 500;
}

/* section 2 */
.projects{
    margin: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projectsTitle{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Mochiy Pop P One', sans-serif;
}
.projectsText{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 60px;
}
.projectsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.projectsContainerItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 80px;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
}
.projectsContainerItemImg{
    width: auto;
    height: 300px;
}

/* section 3 */
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
}
.aboutUs{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 60px;
    font-family: 'Mochiy Pop P One', sans-serif;
}
.aboutUsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutUsContainerImage{
    width: 200px;
    height: auto;
}
.aboutUsContainerText{
    display: flex;
    max-width: 30%;
    margin-left: 60px;
    font-size: 18px;
    font-weight: 300;
}

/* section 4 */
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
}
.contactContainerTitle{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 60px;
    font-family: 'Mochiy Pop P One', sans-serif;
}
.contactContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 30%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.contactContainerText{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}
.contactContainerForm{
    display: flex;
    flex-direction: row;
}
.fillForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sendButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.sendButton button{
    height: 40px;
    width: 110px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.sendButton button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

/* footer */
footer{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: #eeeeee;
}
.icon{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #fff;
    margin: 20px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 2px 5px 10px rgba(150, 150, 150, .3);
    transition: all .1s ease-out;
}
.icon:hover{
    width: 200px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}
.icon:hover i{
    color: #fff;
}
.icon .fa-github{
    color: #000;
}
.git:hover{
    background: #000;
}

/* delete styling and text color for a*/
a{
    text-decoration: none;
    color: #fff;
}

/* media queries */

@media screen and (max-width: 1800px) {
    /* section 2 */
    .projectsContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}


@media screen and (max-width: 1400px) {
    /* image under header */
    .leftText{
        font-size: 30px;
    }
    /* section 2 */
    .projectsContainer{
        gap: 20px;
    }
    /* section 4 */
    .contactContainerForm{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    /* section 4 */
    .sendButton{
        margin: 0px;
    }
}

@media screen and (max-width: 1100px) {
    /* section 1 */
    .servicesContainer{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    /* section 2 */
    .projectsContainer{
        gap: 20px;
    }
    /* section 4 */
    .contactContainerForm{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .sendButton{
        margin: 0px;
    }
}

@media screen and (max-width: 900px) {
    /* image under header */
    .leftText{
        font-size: 20px;
        left: 30px;
    }
    .leftButton button {
        height: 30px;
        width: 110px;
        left: 200px;
    }
    .rightButton button {
        height: 30px;
        width: 110px;
        left: 30px;
    }
    .logo{
        max-height: 30px;
        max-width: auto;
    }
    /* section 1 */
    .servicesTitle{
        font-size: 18px;
    }
    .servicesText{
        font-size: 16px;
        margin-bottom: 45px;
    }
    .servicesContainerItemTitle{
        font-size: 15px;
    }
    .services{
        margin: 65px 0px;
    }
    /* section 2 */
    .projectsTitle{
        font-size: 18px;
    }
    .projectsText{
        font-size: 16px;
        margin-bottom: 45px;
    }
    .projectsContainer{
        gap: 20px;
    }
    .projectsContainerItem{
        margin: 0px 20px;
    }
    .projects{
        margin: 65px 0px;
    }
    /* section 3 */
    .aboutUs{
        font-size: 18px;
        margin-bottom: 45px;
    }
    .aboutUsContainerText{
        font-size: 15px;
        text-align: center;
        margin: 0px;
    }
    .aboutUsContainer{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .about{
        margin: 65px 0px;
    }
    /* section 4 */
    .contactContainerTitle{
        font-size: 18px;
        margin-bottom: 45px;
    }
    .contactContainerText{
        font-size: 15px;
    }
    .contactContainerForm{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .sendButton{
        margin: 0px;
    }
    .contact{
        margin: 65px 0px;
    }
    .footer{
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    /* header */
    .navLinks li a{
        font-size: 14px;
    }
    /* image under header */
    .leftText{
        font-size: 15px;
        left: 10px;
    }
    .leftButton button {
        height: 30px;
        width: 110px;
        left: 150px;
    }
    .rightButton button {
        height: 30px;
        width: 110px;
        left: 10px;
    }
    /* section 1 */
    .servicesTitle{
        font-size: 14px;
    }
    .servicesText{
        font-size: 13px;
        margin-bottom: 30px;
    }
    .servicesContainerItemTitle{
        font-size: 13px;
    }
    .services{
        margin: 50px 0px;
    }
    /* section 2 */
    .projectsTitle{
        font-size: 14px;
    }
    .projectsText{
        font-size: 13px;
        margin-bottom: 30px;
    }
    .projects{
        margin: 50px 0px;
    }
    .projectsContainer{
        gap: 15px;
    }
    .projectsContainerItem{
        margin: 0px 10px;
    }
    /* section 3 */
    .aboutUs{
        font-size: 14px;
    }
    .aboutUsContainerText{
        font-size: 13px;
        text-align: center;
        margin: 0px;
    }
    .aboutUsContainer{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    /* section 4 */
    .contactContainerTitle{
        font-size: 14px;
    }
    .contactContainerText{
        font-size: 13px;
    }
    .contactContainerForm{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    /* footer */
    footer{
        font-size: 14px;
        display: flex;
        flex-direction: column;
    }
}
