* {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

/* header */
header{
    box-sizing: border-box;
    background-color: #24252a;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3%;
}
.logo{
    max-height: 50px;
    width: auto;
}
.navLinks{
    list-style: none;
}
.navLinks li{
    display: inline-block;
    padding: 0px 20px;
}
.navLinks li a{
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.navLinks li a:hover{
    color: #0088a9;
}